extends layout

block content
    .card
        ul.list-group.list-group-flush
          each book,ind in books
            li.list-group-item.text-center
              h3= book.title
              a.btn.btn-info(href="/" + ind) Comments
