extends layout

block content
  .text-center
    p.
      You have reached the homepage of the ExpressJS starter pack written by
      Saturnus Numerius
    p
      | To change this page, edit
      |
      em views/home.pug
    p
      | To change the styles of this page, edit
      |
      em less/styles.less
